.create-container {
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .form-container {
        margin-top: 54px;
        width: 42.5%;
        height: 795px;
        background: #D3D4DE;

        h1 {
            font-family: Helvetica;
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            margin-top: 40px;
        }

        

        .no-account {
            width: 61.6%;
            margin: auto;
            margin-top: 150px;
            
            Button {
                text-align: center;
                width: 376px;
            }
        }
    }

    .ui.form, {
        width: 61.6%;
        margin: auto;
        
        input {
            margin-bottom: 10px;
        }
        
        label {
            font-family: Helvetica;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .form-button {
            width: 100%;
            background: #4454BB;
            color: #F5F4F3;
            transition: 0.8s;
            height: 40px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            &:hover {
                border: 2px solid #4454BB;
                color: #4454BB;
                background: #F4F5FA;
            }
        }
    }


    
}

.gallery-container {
    width: 50%;
    margin-top: 54px;
    height: 795;
}

.gallery-preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.ui.image.gallery-image {
            width: 220px;
            height: 220px;
            margin: 10px;
}
