.create-container {
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .form-container {
        margin-top: 54px;
        width: 42.5%;
        height: 795px;
        background: #D3D4DE;

        h1 {
            font-family: Helvetica;
            font-size: 48px;
            font-weight: bold;
            text-align: center;
        }

        

        .no-account {
            width: 61.6%;
            margin: auto;
            margin-top: 150px;
            
            Button {
                text-align: center;
                width: 376px;
            }
        }
    }

    .ui.form, {
        width: 61.6%;
        margin: auto;
        
        input {
            margin-bottom: 38px;
        }
        
        label {
            font-family: Helvetica;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .form-button {
            width: 100%;
            background: #5c6ac4;
        }
    }


    
}
