.login-container {
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .form-container {
        margin-top: 54px;
        width: 42.5%;
        height: 795px;
        background: #D3D4DE;
    }

    .ui.form {
        width: 61.6%;
        margin: auto;
    }
}